{{> layout/header}}
<!--구분선-->
<hr style="border-color: #000000;">
<!--구분선-->

<div class="event">이벤트</div>


<!--이벤트 이미지-->
<div class="event-image">
    <a href="http://www.naver.com">
        <img src="/images/이미지.png">
    </a>
</div>

<div class="event-image">
    <a href="http://www.naver.com">
        <img src="/images/이미지.png">
    </a>
</div>

<div class="event-image">
    <a href="http://www.naver.com">
        <img src="/images/이미지.png">
    </a>
</div>
<!--이벤트 이미지-->

{{> layout/footer}}