{{> layout/header}}

<div class="frame">
    <h1><strong>이벤트</strong></h1>
    <div class="event">
        <!--이벤트 이미지-->
        <div class="event-image">
            <a href="http://www.naver.com">
                <img src="/images/이미지.png" style="width: auto;">
            </a>
        </div>

        <div class="event-image">
            <a href="http://www.naver.com">
                <img src="/images/이미지.png">
            </a>
        </div>

        <div class="event-image">
            <a href="http://www.naver.com">
                <img src="/images/이미지.png">
            </a>
        </div>
    </div>
</div>
<!--이벤트 이미지-->

{{> layout/footer}}