{{> layout/header}}


<div class="frame">

    <h1><strong>채용공고</strong></h1>

    <div class="job-posting images">
        <a href="http://www.naver.com" class="rounded_image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
    </div>

    <div class="job-posting images" style="margin-top: 30px;">
        <a href="http://www.naver.com" class="rounded_image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
        <a href="http://www.naver.com" class="rounded-image">
            <img src="/images/파워링크사진.png" />
        </a>
    </div>

    <div class="job-button">
        <button type="button" class="btn btn-secondary Prev">Prev</button>
        <button type="button" class="btn btn-secondary Next">Next</button>
    </div>

</div>

{{> layout/footer}}