{{> layout/header}}

<div class="wrap">
    <div class="join">
        <h2>로그인</h2>
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="login-username">
                <label for="username">
                    <h4>아이디</h4>
                </label>
                <input type="text" name="username" id="username" placeholder="아이디를 입력하세요">
            </div>
            <div class="login-pw">
                <label for="password">
                    <h4>비밀번호</h4>
                </label>
                <div class="d-flex justify-content-between">
                    <input type="password" class="login-pw-visible" name="password" id="password"
                        placeholder="비밀번호를 입력하세요">
                    <button type="button" id="changeTypeButton" style="border: none;">
                        <img src="/images/visible.png">
                    </button>
                </div>
            </div>
            <div class="submit">
                <button type="submit" class="login-btn" value="로그인">로그인</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        // 버튼을 클릭하면 입력 필드의 타입을 변경합니다.
        $("#changeTypeButton").click(function () {
            var $myInput = $(".login-pw-visible");
            if ($myInput.attr("type") === "text") {
                $myInput.attr("type", "password");
            } else {
                $myInput.attr("type", "text");
            }
        });
    });

</script>
{{> layout/footer}}