{{> layout/header}}

<div class="frame">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <a class="nav-link title text-center fs-2" href="/userInformation/{{user.id}}">회원정보보기</a>
                <div class="card">
                    <div class="user-image">
                        <img class="user-image-box" src="../images/basic.png">
                    </div>

                    <hr />
                    <div>
                        <a class="nav-link link" href="/myResumeList/{{user.id}}">이력서 관리</a>
                        <a class="nav-link link" href="/userApplyStatus/{{user.id}}">지원현황</a>
                        <a class="nav-link link" href="/userScrapCompany/{{user.id}}">관심기업</a>
                        <hr />
                        <a class="nav-link link" href="/userUpdateForm/{{user.id}}">개인정보 수정</a>
                        <a class="nav-link link" href="/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="d-flex flex-row-reverse justify-content-between pe-3 my-3">
                    <a href="/resumeWrite">
                        <!-- 수정 페이지로 이동하는 폼을 제출 -->
                        <button type="button" class="btn btn-primary" style="width: 116px; height: 40px;">등록</button>
                    </a>
                    <div class="small-title">이력서 관리</div>
                </div>
                <div class="list-group">
                    {{#resumeList}} <!-- 이력서 목록 반복문 시작 -->
                    <div class="mb-3">

                        <div class="d-flex justify-content-between resume-card">
                            <a href="/resume/{{id}}/Detail" target="_blank" class="">
                                <h4 class="mb-2">
                                    {{title}} <!-- 이력서 제목 표시 -->
                                </h4>
                                <div>
                                    <div class="mb-1">
                                        <a class="btn btn-warning me-1" href="/resume/{{id}}/updateForm">수정</a>
                                    </div>
                                    <form action="/resume/{{id}}/delete" method="post">
                                        <button type="submit" class="btn btn-danger">삭제</button>
                                    </form>
                                </div>
                        </div>

                    </div>
                    {{/resumeList}} <!-- 이력서 목록 반복문 종료 -->
                </div>
            </div>
            <div class="small-title mt-3">추천 공고</div>
            <hr />
            <div class="recommand-notice">
                {{#notices}}
                <a class="card recommand-recruit" href="/noticeDetail">
                    <div class="card-body home d-flex justify-content-center">
                        <img class="recruit-image-box" src="../images/company.jpg" alt="공고 사진">
                    </div>
                    <h4 class="text-center">{{title}}</h4>
                    <div class="text-center">{{companyName}}</div>
                </a>
                {{/notices}}
            </div>
        </div>
    </div>
    {{> layout/footer}}