{{> layout/header}}

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    <div class="d-flex justify-content-end">
        <a class="btn btn-warning me-1" href="#">수정</a>
        <form action="#">
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>제목</b></h2>
        <hr />
        <div class="m-4 p-2">
            내용
        </div>
    </div>
</div>


{{> layout/footer}}