{{> layout/header}}

<div class="frame">

    <body>
        <div class="recruit-detail ">
            <h1><strong>채용공고 상세보기</strong></h1>
            <hr>
            <div class="notice-detail-form">
                <div>
                    <h4 class="m-3"><strong>공고제목</strong></h4>
                    <div class="info-box m-3"></div>
                    <div class="detail-comp-name mt-3">
                        <h4><strong>기업명</strong></h4>
                    </div>
                    <div class="info-box m-3">
                        <img src="../images/company.jpg">
                    </div>
                </div>
                <div class="info-box2 m-3">
                    <h2>모집인원</h2>
                    <p>0명</p>
                    <h2>모집기간</h2>
                    <p>2023/09/01~2023/12/25</p>
                    <h2>연봉</h2>
                    <p>3500만원</p>
                </div>
            </div>
            <hr>
            <div>
                <div class="m-3">
                    <h4><strong>채용분야</strong></h4>
                    <div class="d-flex flex-wrap m-3">
                        <div class="p-2 skill">개발 전체</div>
                        <div class="p-2 skill">소프트웨어 엔지니어</div>
                        <div class="p-2 skill">웹 개발자</div>
                        <div class="p-2 skill">서버 개발자</div>
                        <div class="p-2 skill">자바 개발자</div>
                    </div>
                </div>
                <hr>
                <div class="m-3">
                    <h4><strong>기술스택</strong></h4>
                    <div class="d-flex flex-wrap m-3">
                        <div class="p-2 skill">Java</div>
                        <div class="p-2 skill">JavaScript</div>
                        <div class="p-2 skill">node.js</div>
                        <div class="p-2 skill">Python</div>
                        <div class="p-2 skill">Spring</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="detail m-3">
                    <h4><strong>기업정보</strong></h4>
                    <div></div>
                </div>
                <div class="detail m-3">
                    <h4><strong>자격요건</strong></h4>
                    <div></div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-xl m-2">지원하기</button>
                <button type="button" class="btn btn-primary btn-xl m-2">북마크</button>
            </div>
            <hr>
        </div>

</div>

{{> layout/footer}}