{{> layout/header}}

<div class="frame">

    <body>
        <div class="recruit-detail ">
            <h1><strong>채용공고 상세보기</strong></h1>
            <hr>
            <div class="notice-detail-form">
                <div>

                    <div class="detail-comp-name mt-3">
                        <h4><strong>{{notice.companyName}}</strong></h4>
                        <div class="info-box m-3">
                            <h4 class=""><strong>{{notice.title}}</strong></h4>
                        </div>
                    </div>
                    <div class="info-box m-3">
                        <img src="/images/company.jpg">
                    </div>
                </div>
                <div class="info-box2 m-3">
                    <h2>모집인원</h2>
                    <p>{{notice.intake}}</p>
                    <h2>모집기간</h2>
                    <p>{{notice.period}}</p>
                    <h2>연봉</h2>
                    <p>{{notice.pay}}</p>
                </div>
            </div>
            <hr>
            <div>
                <div class="m-3">
                    <h4><strong>채용분야</strong></h4>
                    <div class="d-flex flex-wrap m-3">
                        {{#notice.wishDutys}}
                        <div class="p-2 skill">{{duty.dutyName}}</div>
                        {{/notice.wishDutys}}
                    </div>
                </div>
                <hr>
                <div class="m-3">
                    <h4><strong>기술스택</strong></h4>
                    <div class="d-flex flex-wrap m-3">
                        {{#notice.wishSkills}}
                        <div class="p-2 skill">{{skill.skillName}}</div>
                        {{/notice.wishSkills}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="detail m-3">
                    <h4><strong>기업정보</strong></h4>
                    <div>{{notice.CompanyInfo}}</div>
                </div>
                <div class="detail m-3">
                    <h4><strong>자격요건</strong></h4>
                    <div>{{notice.Qualification}}</div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">

                <form action="/apply/{{id}}" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="btn btn-primary btn-xl m-2">지원하기</button>
                </form>

                <form action="/notice/{{id}}/noticScrap" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="btn btn-primary btn-xl m-2">북마크</button>
                </form>
            </div>
            <hr>
        </div>

</div>

{{> layout/footer}}