{{> layout/header}}
<style>
    .company_img {
        width: 250px;
        height: 230px;
        border-radius: 10px;
    }
</style>

<div class="frame">
    <h1>채용공고 수정</h1>
    <form action="/noticeUpdate/{{notice.id}}/update" method="POST" enctype="application/x-www-form-urlencoded">
        <h4 class="mt-4">공고 제목</h4>
        <input type="text" class="form-control input" id="recruitTitle" placeholder="Title" name="title"
            value="{{notice.title}}" />

        <div class="container-fluid d-flex">
            <div class="profile-image" style="margin-top: 20px; margin-right: 20px">
                <img id="preview" class="company_img"" src=" /images/{{notice.companyPicUrl}}">
            </div>
            <div class="recruit-info">
                <h4 class="mt-3">회사명</h4>
                <input type="text" class="form-control input" id="coName" placeholder="회사명을 입력하세요" name="companyName"
                    value="{{notice.companyName}}" disabled />
                <h4 class="mt-3">이메일</h4>
                <input type="text" class="form-control input" id="coEmail" placeholder="이메일을 입력하세요" name="companyEmail"
                    value="{{notice.companyEmail}}" disabled />
                <h4 class="mt-3">전화번호</h4>
                <input type="text" class="form-control input" id="coCallNumber" placeholder="전화번호를 입력하세요"
                    name="phoneNumber" value="{{notice.phoneNumber}}" disabled />
            </div>
        </div>

        <h4 class="mt-4">기업정보</h4>
        <input type="text" class="form-control input" id="coInfo" placeholder="정보를 입력하세요" name="companyInfo"
            value="{{notice.companyInfo}}" />
        <h4 class="mt-4">지역</h4>
        <div class="d-flex justify-content-between">
            {{#locations}}
            <div class="form-check">
                <label class="form-check-label" for="radio{{id}}">{{locationName}}</label>
                <input type="radio" class="form-check-input" id="radio{{id}}" name="location" value="{{locationName}}"
                    checked>
            </div>
            {{/locations}}
        </div>

        <hr />
        <!-- 채용직무 -->
        <h4 class="mt-4">채용직무</h4>
        <p class="mt-4">수정전 :
            {{#notice.wishDutys}}
            {{duty.dutyName}},
            {{/notice.wishDutys}}
        </p>
        <p class="mt-4">수정후</p>
        <span id="selectedDevOptions"></span>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="devDropdownButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                직무를 골라주세요
            </button>
            <ul class="dropdown-menu" aria-labelledby="devDropdownButton">
                {{#dutys}}
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" value="{{dutyName}}" name="wishDutys" />
                        {{dutyName}}</label>
                </li>
                {{/dutys}}
            </ul>

        </div>
        <!-- 기술 스택 -->
        <h4 class="mt-4">기술 스택</h4>
        <p class="mt-4">수정전 :
            {{#notice.wishSkills}}
            {{skill.skillName}},
            {{/notice.wishSkills}}
        </p>
        <p class="mt-4">수정후</p>
        <span id="selectedTechOptions"></span></p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="techDropdownButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                기술스택을 선택하세요
            </button>
            <ul class="dropdown-menu" aria-labelledby="techDropdownButton">
                {{#skills}}
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" value="{{skillName}}" name="wishSkills" />
                        {{skillName}}</label>
                </li>
                {{/skills}}
            </ul>
        </div>
        <br>
        <hr />

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <h4>모집인원</h4>
                    <input type="text" class="form-control input" placeholder="모집 인원을 기입해주세요" name="intake"
                        value="{{notice.intake}}" />
                    <h4 class="mt-4">급여</h4>
                    <input type="text" class="form-control input" placeholder="연봉,급여를 등록해주세요" name="pay"
                        value="{{notice.pay}}" />
                </div>
                <div class="col-lg-6 mt-4">
                    <h4>기간</h4>
                    <input type="text" class="form-control input" placeholder="모집 기간을 등록해주세요" name="period"
                        value="{{notice.period}}" />
                    <h4 class="mt-4">자격요건</h4>
                    <input type="text" class="form-control input" id="place" placeholder="사지멀쩡한 자" name="qualification"
                        value="{{notice.qualification}}" />
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary" style="width: 50%">
                수정하기
            </button>
        </div>
    </form>
</div>

<script>
    // 체크박스 변경 시 선택한 옵션 업데이트
    function updateSelectedOptions(checkboxList, outputId) {
        var selectedOptions = Array.from(checkboxList)
            .filter(function (checkbox) {
                return checkbox.checked;
            })
            .map(function (checkbox) {
                return checkbox.value;
            });

        var output = document.getElementById(outputId);
        if (selectedOptions.length > 0) {
            output.textContent = selectedOptions.join(", ");
        } else {
            output.textContent = "None";
        }
    }

    // Setup Dropdowns
    function setupDropdown(dropdownId, outputId) {
        var dropdown = document.querySelector(`#${dropdownId}`);
        var dropdownItems =
            dropdown.nextElementSibling.querySelectorAll(".dropdown-checkbox");

        dropdown.addEventListener("click", function () {
            dropdownItems.forEach(function (item) {
                item.addEventListener("change", function () {
                    updateSelectedOptions(outputId, dropdownItems);
                });
            });
        });
    }

    // 채용직무 체크박스 처리
    var dutyCheckboxes = document.querySelectorAll('input[name="wishDutys"]');
    var dutyOutput = document.getElementById("selectedDevOptions");

    dutyCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener("change", function () {
            updateSelectedOptions(dutyCheckboxes, "selectedDevOptions");
        });
    });

    // 기술 스택 체크박스 처리
    var skillCheckboxes = document.querySelectorAll('input[name="wishSkills"]');
    var skillOutput = document.getElementById("selectedTechOptions");

    skillCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener("change", function () {
            updateSelectedOptions(skillCheckboxes, "selectedTechOptions");
        });
    });

    Mustache.registerHelper('isDutyChecked', function (list, item, options) {
        if (list.indexOf(item) !== -1) {
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });

    Mustache.registerHelper('isSkillChecked', function (list, item, options) {
        if (list.indexOf(item) !== -1) {
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });
    // 드롭다운이 변경될 때 호출되는 함수
    function dropdownChanged() {
        // 드롭다운에서 선택한 값을 가져옴
        var selectedValue = document.getElementById("yourDropdownId").value;

        // 로컬 스토리지에 선택한 값을 저장
        localStorage.setItem("selectedValue", selectedValue);
    }

    // 페이지 로드 시, 저장된 값을 드롭다운에 설정
    window.onload = function () {
        var savedValue = localStorage.getItem("selectedValue");
        if (savedValue) {
            document.getElementById("yourDropdownId").value = savedValue;
        }
    };

</script>

{{> layout/footer}}