{{> layout/header}}

<div class="frame">
    <h1>채용공고 수정</h1>
    <form action="/noticeUpdate/{{notice.id}}/update" method="POST" enctype="application/x-www-form-urlencoded">
        <h4 class="mt-4">공고 제목</h4>
        <input type="text" class="form-control input" id="recruitTitle" placeholder="Title" name="title"
            value="{{notice.title}}" />

        <!-- 이미지 파일 삽입 이미지파일과 이름, 이메일, 전화번호 나란히 정렬 -->
        <div class="container-fluid d-flex">
            <div class="profile-image" style="margin-top: 20px; margin-right: 20px">
                <img class="image2" src="/images/너굴맨.jpg" name="companyPicUrl" />
            </div>
            <div class="recruit-info">
                <h4 class="mt-3">회사명</h4>
                <input type="text" class="form-control input" id="coName" placeholder="회사명을 입력하세요" name="companyName"
                    value="{{notice.companyName}}" disabled />
                <h4 class="mt-3">이메일</h4>
                <input type="text" class="form-control input" id="coEmail" placeholder="이메일을 입력하세요" name="companyEmail"
                    value="{{notice.companyEmail}}" disabled />
                <h4 class="mt-3">전화번호</h4>
                <input type="text" class="form-control input" id="coCallNumber" placeholder="전화번호를 입력하세요"
                    name="phoneNumber" value="{{notice.phoneNumber}}" disabled />
            </div>
        </div>

        <hr />
        <h4 class="mt-4">기업정보</h4>
        <input type="text" class="form-control input" id="coInfo" placeholder="정보를 입력하세요" name="companyInfo"
            value="{{notice.companyInfo}}" />
        <h4 class="mt-4">지역</h4>
        <input type="text" class="form-control input" id="place" placeholder="이 자리는 체크박스 자리야!" name="location"
            value="{{notice.location}}" />

        <hr />
        <h4 class="mt-4">채용직무</h4>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="devDropdownButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                직무를 골라주세요
            </button>
            <ul class="dropdown-menu" aria-labelledby="devDropdownButton">
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishDutys" value="직무1"
                            {{#selectedDevOptions.includes "직무1" }}checked{{/selectedDevOptions.includes "직무1" }} />
                        직무1</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishDutys" value="직무2"
                            {{#selectedDevOptions.includes "직무2" }}checked{{/selectedDevOptions.includes "직무2" }} />
                        직무2</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishDutys" value="직무3"
                            {{#selectedDevOptions.includes "직무3" }}checked{{/selectedDevOptions.includes "직무3" }} />
                        직무3</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishDutys" value="직무4"
                            {{#selectedDevOptions.includes "직무4" }}checked{{/selectedDevOptions.includes "직무4" }} />
                        직무4</label>
                </li>
            </ul>
        </div>
        <div>
            선택한 직무: <span id="selectedDevOptions">{{#selectedDevOptions}}{{.}}, {{/selectedDevOptions}}</span>
        </div>

        <hr />
        <h4 class="mt-4">기술 스택</h4>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="techDropdownButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                기술스택을 선택하세요
            </button>
            <ul class="dropdown-menu" aria-labelledby="techDropdownButton">
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishSkills" value="기술1"
                            {{#selectedTechOptions.includes "기술1" }}checked{{/selectedTechOptions.includes "기술1" }} />
                        기술1</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishSkills" value="기술2"
                            {{#selectedTechOptions.includes "기술2" }}checked{{/selectedTechOptions.includes "기술2" }} />
                        기술2</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishSkills" value="기술3"
                            {{#selectedTechOptions.includes "기술3" }}checked{{/selectedTechOptions.includes "기술3" }} />
                        기술3</label>
                </li>
                <li>
                    <label><input type="checkbox" class="dropdown-checkbox" name="wishSkills" value="기술4"
                            {{#selectedTechOptions.includes "기술4" }}checked{{/selectedTechOptions.includes "기술4" }} />
                        기술4</label>
                </li>
            </ul>
        </div>
        <div>
            선택한 기술: <span id="selectedTechOptions">{{#selectedTechOptions}}{{.}}, {{/selectedTechOptions}}</span>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <h4>모집인원</h4>
                    <input type="text" class="form-control input" placeholder="모집 인원을 기입해주세요" name="intake"
                        value="{{notice.intake}}" />
                    <h4 class="mt-4">급여</h4>
                    <input type="text" class="form-control input" placeholder="연봉,급여를 등록해주세요" name="pay"
                        value="{{notice.pay}}" />
                </div>
                <div class="col-lg-6 mt-4">
                    <h4>기간</h4>
                    <input type="text" class="form-control input" placeholder="모집 기간을 등록해주세요" name="period"
                        value="{{notice.period}}" />
                    <h4 class="mt-4">자격요건</h4>
                    <input type="text" class="form-control input" id="place" placeholder="사지멀쩡한 자" name="qualification"
                        value="{{notice.qualification}}" />
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary" style="width: 50%">
                수정하기
            </button>
        </div>
    </form>
</div>

<script>
    function setupDropdown(dropdownId, outputId) {
        var dropdown = document.querySelector(`#${dropdownId}`);
        var dropdownItems =
            dropdown.nextElementSibling.querySelectorAll(".dropdown-checkbox");

        dropdown.addEventListener("click", function () {
            dropdownItems.forEach(function (item) {
                item.addEventListener("change", function () {
                    updateSelectedOptions(outputId, dropdownItems);
                });
            });
        });
    }

    function updateSelectedOptions(outputId, checkboxList) {
        var selectedOptions = Array.from(checkboxList)
            .filter(function (checkbox) {
                return checkbox.checked;
            })
            .map(function (checkbox) {
                return checkbox.value;
            });

        var output = document.getElementById(outputId);
        if (selectedOptions.length > 0) {
            output.textContent = selectedOptions.join(", ");
        } else {
            output.textContent = "None";
        }
    }

    // Setup Dropdowns
    setupDropdown("devDropdownButton", "selectedDevOptions");
    setupDropdown("techDropdownButton", "selectedTechOptions");

    // 페이지 로드 시 선택한 직무와 기술을 업데이트합니다.
    document.addEventListener("DOMContentLoaded", function () {
        var selectedDevOptions = document.getElementById("selectedDevOptions");
        var selectedTechOptions = document.getElementById("selectedTechOptions");

        // 선택한 직무와 기술 정보를 화면에 표시합니다.
        function updateSelectedOptionsOnLoad() {
            var selectedDevCheckboxes = document.querySelectorAll('input[name="wishDutys"]:checked');
            var selectedTechCheckboxes = document.querySelectorAll('input[name="wishSkills"]:checked');

            var selectedDevValues = Array.from(selectedDevCheckboxes).map(function (checkbox) {
                return checkbox.value;
            });

            var selectedTechValues = Array.from(selectedTechCheckboxes).map(function (checkbox) {
                return checkbox.value;
            });

            selectedDevOptions.textContent = selectedDevValues.join(", ");
            selectedTechOptions.textContent = selectedTechValues.join(", ");
        }

        // 페이지 로드 시 초기 선택 항목을 업데이트합니다.
        updateSelectedOptionsOnLoad();

        // 각 드롭다운이 변경될 때 선택 항목을 업데이트합니다.
        document.querySelectorAll('input[name="wishDutys"]').forEach(function (checkbox) {
            checkbox.addEventListener("change", updateSelectedOptionsOnLoad);
        });

        document.querySelectorAll('input[name="wishSkills"]').forEach(function (checkbox) {
            checkbox.addEventListener("change", updateSelectedOptionsOnLoad);
        });
    });
</script>

{{> layout/footer}}