{{> layout/header}}

<div class="frame">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <a class="nav-link title text-center fs-2" href="/userInformation">회원정보보기</a>
                <div class="card">
                    <div class="user-image">
                        <img class="user-image-box" src="../images/basic.png" alt="기본이미지">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-warning text-center" style="width: 100px;">사진수정</button>
                    </div>
                    <hr />
                    <div>
                        <a class="nav-link link" href="/myResumeList">이력서 관리</a>
                        <a class="nav-link link" href="/userApplyStatus/{{user.id}}">지원현황</a>
                        <a class="nav-link link" href="/userScrapCompany">관심기업</a>

                        <hr />
                        <a class="nav-link link" href="#">개인정보 수정</a>
                        <a class="nav-link link" href="#">로그아웃</a>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between pe-3 my-3">
                    <div class="small-title">지원 현황</div>
                </div>

                <hr />
                <div class="list-group">
                    <div class="mb-3">
                        {{#individual}}
                        <div class="mb-3">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h4 class="mb-2">{{notice.title}}</h4>
                                        <h6 class="mb-2">{{notice.companyName}}</h6>
                                    </div>
                                    {{#status}}
                                    <div class="mb-1">
                                        <div class="pass">합격</div>
                                    </div>
                                    {{/status}}
                                    {{^status}}
                                    <div class="mb-1">
                                        <div class="fail">불합격</div>
                                    </div>
                                    {{/status}}
                                </div>
                            </a>
                        </div>
                        {{/individual}}
                    </div>
                </div>
            </div>
        </div>
        <div class="small-title mt-3">추천 공고</div>
        <hr />
        <div class="recommand-notice">
            {{#notices}}
            <a class="card recommand-recruit" href="/noticeDetail">
                <div class="card-body home d-flex justify-content-center">
                    <img class="recruit-image-box" src="../images/company.jpg" alt="공고 사진">
                </div>
                <h4 class="text-center">{{title}}</h4>
                <div class="text-center">{{companyName}}</div>
            </a>
            {{/notices}}
        </div>
    </div>

    {{> layout/footer}}